#Don't track VS Code files.
.vscode/

#Don't track config files (they contain credentials).
/configs/

#Don't track working python files
.pytest_cache/
.venv/
**/__pycache__/

#Don't track jupyter notbook checkpoints
.ipynb_checkpoints/**

#Don't track local poetry files.
poetry.toml
poetry.lock